html{
    margin: 0;
}

.new-item {
    text-align: center;
}

.banner-image-inner img {
    width: 100%;
    height: auto;
}

.product-tumb img, .column-thumb img  {
    width: 100%;
    height: auto;
}
